body
{
    background-color: 	#804674;
}

/* navbar */
#navbar{
   background-color:#804674;
   padding-left: 60px;
   font-weight: bold;
}
#logo{
   font-size: 23px;
   color: white;
}
#logo img{
   margin-bottom: 15px;
}
.navbar-nav{
   margin-left: 10px;
}
.nav-link{
   color: white;
   font-weight: bold;
   text-shadow: 1px 1px 1px black;
   margin-left: 15px;
   transition: 0.5s ease;
}
.nav-link:hover{
   background-color:#D8BFD8;
   color: white;
   border-radius: 5px;
}
.icons{
   margin-left: 30px;
}
.icons img{
   margin-left: 10px;
   transition: 0.5s ease;
   cursor: pointer;
}
.icons img:hover{
   transform: translateY(-5px);
}
@media screen and (max-width:330px){
   #logo{
       font-size: 15px;
   }
}
/* navbar end */

.navbar-nav .nav-item .nav-link
{
   color: white;
}
.navbar .navbar-brand
{
   color: white;
   /* font-style: italic; */
   font-weight: bold;
   font-size: 2rem;
   font-family: Apple Chancery, cursive;
}

 .l1
 {
   background-color: #cfc0cc;
    color: #804674;
 } .h1
 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 10px;
 }
 .d1
 {
    font-size: 15px;
    margin-left: 30px;
    margin-right: 30px;
 }
 /* footer section */
/* footer
{
    background-color: #400434;
} */

.footer .grid
{
    /* background-color: #400434; */
    display: inline-flex;
    grid-template-columns: repeat(auto-fit,25rem);
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10rem;
    margin-left: 10rem;
}

.footer .grid .box1 h3
{
    font-size: 2rem;
    margin-left: 8rem;
    color: white;
    /* margin: 1rem 0; */
    padding-bottom: 1rem;
    text-transform: capitalize;
}

.footer .grid .box1 a
{
    display: block;
    margin-left: 8rem;
    padding: 1rem 0;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.footer .grid .box1 a i
{
    color: white;
    margin-right: .8rem;
    transition: .2s linear;
}

.footer .grid .box1 a:hover i
{
    margin-right: 2rem;
}

.footer .credit
{
    text-align: center;
    padding: 5rem 3rem;
    /* border-top: var(--border); */
    /* background-color:#C71585; */
    font-size: 2rem;
    color: white;
    line-height: 1.5;
}

.footer .credit span
{
    color: white;
    text-transform: capitalize;
}